@charset "utf-8";

body, input, textarea, select { color: rgb(0, 0, 0); background: none; }

.two-sidebars, .sidebar-first, .sidebar-second, body { width: 640px; }

#sidebar-first, #sidebar-second, .navigation, #toolbar, .site-footer, .tabs, .shortcut-action { display: none; }

.one-sidebar .main-content, .two-sidebars .main-content { width: 100%; }

.featured-bottom { width: 960px; margin: 0px; padding: 0px; border-width: medium; border-style: none; border-color: currentcolor; border-image: initial; }

.featured-bottom-first, .featured-bottom-second, .featured-bottom-third { width: 250px; }

#comments .title, #comments form, .comment-forbidden { display: none; }